doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
  body
    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.min.js")
    script(type="module"): :lsc
      BrowserFS.install window
      BrowserFS.configure {fs: \LocalStorage}, -> window.fs = fs = require("fs")
    +script("assets/lib/stylus-browser/dev/index.min.js")
    script(type="module"): :lsc
      /*stylus = require("stylus")*/
      /*
      stylus.render(
        "body { font-size: 1px }"
        {filename: "index.css"}
        (e, css) -> console.log(e, css)
      )*/

      r = stylus.render(
        """
        //- stylus
        body { font-size: 1px }
        """
      )
      console.log r
